@model IEnumerable<BrightWorld_LED.Models.OrderModel>

@{
    ViewBag.Title = "MyOrder";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}
<div style="background-color: #A9A9A9;">
    <br /> <br /> <br /> <br />

</div>
<h2>MyOrder</h2>


<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transaction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.ActionLink("Details", "MyOrderDetail", new { orderId = item.OrderId })
                @*@Html.ActionLink("Delete", "Delete", new { id=item.OrderId })*@
            </td>
        </tr>
    }

</table>
